<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>kaa-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kaaproject.kaa" level="WARN"/>
    <logger name="org.kaaproject.kaa.demo" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="fileLogAppender"/>-->
    </root>

</configuration>
